<header
  class="hidden lg:flex px-4 py-2 text-white items-center justify-between shadow border-b-2 border-black"
>
  <nav class="w-full flex justify-between items-center">
    <ul class="list-none lg:flex gap-x-7">
      <li routerLink="/" class="cursor-pointer hover:text-cyan-200 text-sm ml-5">
        Home
      </li>
      <li routerLink="/" class="cursor-pointer hover:text-cyan-200 text-sm">
        <select class="block w-full bg-transparent">
            <option value="" class="block bg-cyan-600 text-white hover:bg-cyan-900" selected>Categories</option>
            <option value="option1" class="block bg-cyan-600 text-white px-4 py-2 hover:bg-cyan-900">Laptops</option>
            <option value="option2" class="block bg-cyan-600 text-white px-4 py-2 hover:bg-cyan-900">Option 2</option>
            <option value="option3" class="block bg-cyan-600 text-white px-4 py-2 hover:bg-cyan-900">Option 3</option>
          </select> 
      </li>
           
      <li routerLink="/" class="cursor-pointer hover:text-cyan-200 text-sm">
        About Us
      </li>
      <li routerLink="/search" class="cursor-pointer hover:text-cyan-200 text-sm">
        Our Stores
      </li>
      <li routerLink="/" class="cursor-pointer hover:text-cyan-200 text-sm">
        Blog
      </li>
      <li routerLink="/" class="cursor-pointer hover:text-cyan-200 text-sm">
        Contact Us
      </li>
      <li routerLink="/" class="cursor-pointer hover:text-cyan-200 text-sm">
        My Account
      </li>
      
    </ul>
  
  </nav>
</header>
